* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 200px;
  max-width: 400px;
  margin: 20px auto;
}

.form > div {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.form > div label, .form > div input {
  flex: 1;
}

.form > div label {
  text-align: right;
}


.error-msg {
  padding: 30px;
  color: red;
  transition: all 300ms;
  background-color: rgb(255, 219, 219);
}

.view-hidden {
  width: 0%;
  overflow: hidden;
  transition: all 300ms;
}